<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>KoreaIt_JSP_02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <security-role>
  	<role-name>role1</role-name>
  </security-role>
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>FirstAuth</web-resource-name>
  		<url-pattern>/05_security/login_success.jsp</url-pattern>
  		<http-method>GET</http-method>
  	</web-resource-collection>
  	<auth-constraint>
  		<description></description>
  		<role-name>role1</role-name>
  	</auth-constraint>
  </security-constraint>
  <login-config>
  	<!-- <auth-method>BASIC</auth-method> -->
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/05_security/security02.jsp</form-login-page>
  		<form-error-page>/05_security/login_failed.jsp</form-error-page>
  	</form-login-config>
  </login-config>
  
  
  
  
</web-app>