*{font-size: var(--h-font-size);}
button{
    cursor: pointer;
}
label{display: block;}
.section {
    margin: 0 auto;
    width: 1280px;
    margin-top: 80px;
    margin-bottom: 80px;
}
#article{
    margin:0 220px;
    height: 100%;
}
#top{
    margin-top:20px ;
    position: relative;
    display: flex;
    font-size: .875rem;
    line-height: 1.25rem;
}
#toptext{
    margin-left: 25px;
}
#toptext::after{
    position: absolute;
    right:0;
    top:50%;
    background-color: var(--main-color);
    width:88%;
    height: 1px;
    content:"";
    
}
#toptext::before{
    position: absolute;
    left:0;
    top:50%;
    background-color: var(--main-color);
    height: 1px;
    width:20px;
    content:"";   
}
#main {
    border-bottom:1px solid var(--main-color);
    margin-bottom:2rem;
}
#main_under{
    height: 2.5rem;
    margin-bottom: 2rem;
    
}
#main h1{
    margin-top: 2rem;
    line-height: 2.5rem;
    font-size: 1.8rem;
}
#main p{
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    vertical-align: middle;
}
#maincontent{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#main_under{
    display: flex;
    align-items: center;
    position: relative;
}
#commentWrap{
    margin-top: 1rem;
    border: 2px solid var(--main-color);
    
    border-radius:0.375rem ;
    padding: 1.5rem;
}
#writecomment
{  
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem;   
}
.userpicture{
    background-color: black;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
}
#commentWrap form>button{
    margin-left: 80%;
    line-height: 1.5rem;
    width: 120px; height: 40px;
    border: 1px solid var(--main-color);
    border-radius:0.375rem ;
    padding: 8px 20px;
    font-size: 0.875rem;
    cursor:pointer;
    background-color: white;
}
#tagSetion{
    display: flex;
    margin-top: 2rem;

}
a.tag{
    border-radius:40px ;
    border: 1px solid var(--main-color);
    padding: 6px 12px;
    margin: 2px 6px;
}
#like{
    border-radius: 0.5rem;
    font-size: 1.25rem;
    position: absolute;
    right: 0;
    height: 100%;
    border: 1px solid var(--main-color);
}
#like>button{
    padding-left:0.5rem;
    padding-right:0.5rem;
    height: 100%;
    text-align: center;
    align-content:center ;
    
}
#like span{
    
    border-left: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    padding-left:1rem;
    padding-right:1rem;
    height: 100%;
}
#uComment{
    margin-top: 2rem;
}
.userComment{
    margin: 2rem 0;
    padding-bottom: 1rem ;
    border-bottom: 1px solid var(--main-color);
}
#userInfoWrap{
    margin-top:2rem ;
    width: inherit;
    height: 4rem;
    display: flex;
}
#userInfo{
    flex:5;
    display: flex;
    gap:10px;
}
#bm{
    flex:5;
    display: flex;
    gap:30px;
    font-size: 1.5rem;
    height: 100%;
    line-height: 2rem;
    justify-content: right;
    padding-right: 20px;
    
}
#userNameUnder{
    display:flex;
    gap:10px;
    line-height: 1.5;
}

div.comUser{
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}
.cUserInfo{
    display: flex;
    gap:10px
}

